@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  font: 1.6rem "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

input {
  border: 0;
}

button {
  cursor: pointer;
  border: 0;
}
