/* PAGINA INICIAL */

a {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #9932cc;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #ffffff;
  margin-right: 20px;
}

header div {
  color: #ffffff;
  margin: 30px 30px;
  margin-right: 40px;
}

header div a:hover {
  text-decoration: underline;
}

body {
  background: rgb(110, 37, 116);
  background: linear-gradient(
    90deg,
    rgba(110, 37, 116, 1) 0%,
    rgba(76, 27, 82, 1) 36%,
    rgba(75, 0, 130, 1) 100%
  );
}

.img-principal {
  height: 500px;
}

.titulo {
  font-size: 40px;
  font-style: Fira Code;
  color: #ffffff;
}

.description {
  font-size: 30px;
}

.btn {
  font-size: 3.2rem;
  color: #ffffff;

  background: #9932cc;
  border-radius: 12px;

  padding: 16px 32px;
}

.btn:hover {
  transition: text-decoration 2s;

  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr 0.3fr 1.7fr;
  grid-template-rows: 0.4fr 1.4fr 1.2fr;
  gap: 1px 1px;
  grid-template-areas: ". . . ." ". imagem imagem texto" ". imagem imagem botoes";
}

.imagem {
  grid-area: imagem;
}

.texto {
  grid-area: texto;
}

.botoes {
  grid-area: botoes;
}

/* PAGINA SOBRE  */
.titulo-sobre {
  font-family: "Gabriela", serif;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  margin-top: 64px;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.text-about {
  font-size: 40px;
}

.manfrim-photo {
  width: 200px;
}

.git {
  color: #ffffff;
}

.name {
  font-size: 15px;
}

/* Talk to Us */

#talk-to-us {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  margin: 0 auto;
  max-width: 70%;
  /* padding: 0 200px; */
}

#talk-to-us section.info {
  margin-top: 6.4rem;
  color: #fff;
  margin-left: 24rem;
  margin-right: auto;
}

#talk-to-us section.info h1 {
  letter-spacing: 2px;
  font-size: 5.6rem;
  margin-bottom: 1.6rem;
  /* font-weight: bold; */
}

#talk-to-us section.info h2 {
  letter-spacing: 0.5px;
  font-size: 3.2rem;

  font-weight: 500;
}

#talk-to-us section.form {
  min-width: 300px;
  width: 100%;
  max-width: 360px;
  margin-top: 16rem;
  padding: 0 24px;
}

#talk-to-us form {
  /* width: 100%; */
  /* max-width: 340px; */
}

#talk-to-us form button {
  margin-top: 16px;
  width: 100%;
}

#talk-to-us form textarea {
  width: 100%;
  height: auto;
  min-height: 14rem;
  max-height: 200px;

  resize: vertical;

  overflow: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  margin-bottom: 4px;
  color: #fff;
}

.input-wrapper input,
.input-wrapper textarea {
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
}
.input-wrapper input::placeholder {
  color: #131212d7;
  opacity: 0.8;
}

.input-wrapper + .input-wrapper {
  margin-top: 16px;
}
